<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <span id="permission"></span>

            
        </ul>
    </div>
</div>

<!--
<script type="text/javascript">
    $(function (){
        alert(5);
        bindAdminPermission();
    })
    function bindAdminPermission()
    {
        $.post('/Role/findPermissionByAdminid_V1',{
            rdm:Math.random()
        },function(ppData){

            layer.closeAll("loading");
            if(ppData!=null){
                if(ppData.result == '1'){
                    var data = ppData.resultContent;

                    var mmFirstPermission = data.FirstPermission;
                    var mmNotFirstPermission = data.NotFirstPermission;
                    var mmHtml="";
                    for(var i=0;i<mmFirstPermission.length;i++)
                    {
                        mmHtml+="<li>";
                        mmHtml+="<a href=\"javascript:;\">";
                        mmHtml+="<i class=\"iconfont left-nav-li\" lay-tips="+mmFirstPermission[i].permisssionname+">&#xe723;</i>";
                        mmHtml+="<cite>"+mmFirstPermission[i].permisssionname+"</cite>";
                        mmHtml+="<i class=\"iconfont nav_right\">&#xe697;</i>";
                        mmHtml+="</a>";
                        mmHtml+="<ul class=\"sub-menu\">";
                        for(var j=0;j<mmNotFirstPermission.length;j++)
                        {
                            if(mmNotFirstPermission[j].fatherid==mmFirstPermission[i].permissionid)
                            {
                                mmHtml+="<li>";
                                mmHtml+="<a onclick=\"xadmin.add_tab('"+mmNotFirstPermission[j].permisssionname+"','/"+mmNotFirstPermission[j].url+"')\">";
                                mmHtml+="<i class=\"iconfont\">&#xe6a7;</i>";
                                mmHtml+="<cite>"+mmNotFirstPermission[j].permisssionname+"</cite>";
                                mmHtml+="</a>";
                                mmHtml+="</li>";
                            }

                        }
                        mmHtml+="</ul>";
                        mmHtml+="</li>";
                    }

                    $("#permission").html(mmHtml);


                }else{
                    layer.alert(ppData.message);
                }
            }
        },"json");
    }
</script>-->
