<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public::head('')">
</head>
<body>
	<div id="tongji">
		<div id="charts_renshu" style="float:left;width:500px;height:400px;"></div>
		<div id="charts_nianling" style="float:left;width:500px;height:400px;"></div>
		<div id="charts_guahaobingzhong" style="float:left;width:500px;height:400px;"></div>
		<div id="charts_zhuanyuanbingzhong" style="float:left;width:500px;height:400px;"></div>
	</div>

	<script src="/js/echarts.min.js?ver=0.1"></script>
	<script src="/js/pc/tongji.js?ver=1.4"></script>
</body>
</html>