<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="childckd.dao.InfoCategoryInfoMapper" >

	<select id="findByInfoIdAndCategoryId" resultType="childckd.model.InfoCategoryInfo">
		SELECT
			ici.id,
			ici.infoid,
			ici.categoryid,
			ici.ordernum
		FROM
			info_category_info AS ici
		WHERE
			ici.infoid = #{infoid}
		AND ici.categoryid = #{categoryid}
	</select>
	
	<select id="findUp" resultType="map">
		SELECT
			ici.ordernum,
			ici.categoryid,
			ici.id,
			ici.infoid
		FROM
			info_category_info AS ici
		WHERE
			ici.categoryid = #{categoryid}
		AND ici.ordernum = (
			SELECT
				max(ici2.ordernum)
			FROM
				info_category_info ici2
			WHERE
				#{ordernum} > ici2.ordernum
			AND ici2.categoryid = #{categoryid}
		)
	</select>

	<select id="findDown" resultType="map">
		SELECT
			ici.ordernum,
			ici.categoryid,
			ici.id,
			ici.infoid
		FROM
			info_category_info AS ici
		WHERE
			ici.categoryid = #{categoryid}
		AND ici.ordernum = (
			SELECT
				min(ici2.ordernum)
			FROM
				info_category_info ici2
			WHERE
				ici2.ordernum > #{ordernum}
			AND ici2.categoryid = #{categoryid}
		)
	</select>
	
	<select id="getMaxOrdernum" resultType="Object">
		SELECT
			MAX(ici.ordernum) AS maxordernum
		FROM
			info_category_info AS ici
		WHERE
			ici.categoryid = #{categoryid}
	</select>

  <resultMap id="BaseResultMap" type="childckd.model.InfoCategoryInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="infoid" property="infoid" jdbcType="VARCHAR" />
    <result column="categoryid" property="categoryid" jdbcType="VARCHAR" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, infoid, categoryid, ordernum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="childckd.model.InfoCategoryInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from info_category_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from info_category_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from info_category_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="childckd.model.InfoCategoryInfoExample" >
    delete from info_category_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="childckd.model.InfoCategoryInfo" >
    insert into info_category_info (id, infoid, categoryid, 
      ordernum)
    values (#{id,jdbcType=VARCHAR}, #{infoid,jdbcType=VARCHAR}, #{categoryid,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="childckd.model.InfoCategoryInfo" >
    insert into info_category_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoid != null" >
        infoid,
      </if>
      <if test="categoryid != null" >
        categoryid,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="infoid != null" >
        #{infoid,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="childckd.model.InfoCategoryInfoExample" resultType="java.lang.Integer" >
    select count(*) from info_category_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update info_category_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.infoid != null" >
        infoid = #{record.infoid,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryid != null" >
        categoryid = #{record.categoryid,jdbcType=VARCHAR},
      </if>
      <if test="record.ordernum != null" >
        ordernum = #{record.ordernum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update info_category_info
    set id = #{record.id,jdbcType=VARCHAR},
      infoid = #{record.infoid,jdbcType=VARCHAR},
      categoryid = #{record.categoryid,jdbcType=VARCHAR},
      ordernum = #{record.ordernum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="childckd.model.InfoCategoryInfo" >
    update info_category_info
    <set >
      <if test="infoid != null" >
        infoid = #{infoid,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        categoryid = #{categoryid,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="childckd.model.InfoCategoryInfo" >
    update info_category_info
    set infoid = #{infoid,jdbcType=VARCHAR},
      categoryid = #{categoryid,jdbcType=VARCHAR},
      ordernum = #{ordernum,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>