<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="childckd.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="childckd.model.Role" >
    <id column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="displayname" property="displayname" jdbcType="VARCHAR" />
    <result column="beizhu" property="beizhu" jdbcType="VARCHAR" />
    <result column="chuangjianshijian" property="chuangjianshijian" jdbcType="TIMESTAMP" />
    <result column="zhuangtai" property="zhuangtai" jdbcType="INTEGER" />
    <result column="chuangjianrenid" property="chuangjianrenid" jdbcType="VARCHAR" />
    <result column="parentroleid" property="parentroleid" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findRoleByRoleName" resultType="Map">
  	select rl.roleid,rl.rolename,rl.displayname,rl.beizhu
	from role rl where rl.rolename like CONCAT('%',#{ppRoleName},'%') order by rl.chuangjianshijian desc
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    roleid, rolename, displayname, beizhu, chuangjianshijian, zhuangtai, chuangjianrenid, 
    parentroleid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="childckd.model.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where roleid = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where roleid = #{roleid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="childckd.model.RoleExample" >
    delete from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="childckd.model.Role" >
    insert into role (roleid, rolename, displayname, 
      beizhu, chuangjianshijian, zhuangtai, 
      chuangjianrenid, parentroleid)
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{displayname,jdbcType=VARCHAR}, 
      #{beizhu,jdbcType=VARCHAR}, #{chuangjianshijian,jdbcType=TIMESTAMP}, #{zhuangtai,jdbcType=INTEGER}, 
      #{chuangjianrenid,jdbcType=VARCHAR}, #{parentroleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="childckd.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="displayname != null" >
        displayname,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
      <if test="chuangjianshijian != null" >
        chuangjianshijian,
      </if>
      <if test="zhuangtai != null" >
        zhuangtai,
      </if>
      <if test="chuangjianrenid != null" >
        chuangjianrenid,
      </if>
      <if test="parentroleid != null" >
        parentroleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null" >
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="chuangjianshijian != null" >
        #{chuangjianshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        #{zhuangtai,jdbcType=INTEGER},
      </if>
      <if test="chuangjianrenid != null" >
        #{chuangjianrenid,jdbcType=VARCHAR},
      </if>
      <if test="parentroleid != null" >
        #{parentroleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="childckd.model.RoleExample" resultType="java.lang.Integer" >
    select count(*) from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update role
    <set >
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolename != null" >
        rolename = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.displayname != null" >
        displayname = #{record.displayname,jdbcType=VARCHAR},
      </if>
      <if test="record.beizhu != null" >
        beizhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
      <if test="record.chuangjianshijian != null" >
        chuangjianshijian = #{record.chuangjianshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zhuangtai != null" >
        zhuangtai = #{record.zhuangtai,jdbcType=INTEGER},
      </if>
      <if test="record.chuangjianrenid != null" >
        chuangjianrenid = #{record.chuangjianrenid,jdbcType=VARCHAR},
      </if>
      <if test="record.parentroleid != null" >
        parentroleid = #{record.parentroleid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update role
    set roleid = #{record.roleid,jdbcType=VARCHAR},
      rolename = #{record.rolename,jdbcType=VARCHAR},
      displayname = #{record.displayname,jdbcType=VARCHAR},
      beizhu = #{record.beizhu,jdbcType=VARCHAR},
      chuangjianshijian = #{record.chuangjianshijian,jdbcType=TIMESTAMP},
      zhuangtai = #{record.zhuangtai,jdbcType=INTEGER},
      chuangjianrenid = #{record.chuangjianrenid,jdbcType=VARCHAR},
      parentroleid = #{record.parentroleid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="childckd.model.Role" >
    update role
    <set >
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null" >
        displayname = #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="chuangjianshijian != null" >
        chuangjianshijian = #{chuangjianshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="zhuangtai != null" >
        zhuangtai = #{zhuangtai,jdbcType=INTEGER},
      </if>
      <if test="chuangjianrenid != null" >
        chuangjianrenid = #{chuangjianrenid,jdbcType=VARCHAR},
      </if>
      <if test="parentroleid != null" >
        parentroleid = #{parentroleid,jdbcType=VARCHAR},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="childckd.model.Role" >
    update role
    set rolename = #{rolename,jdbcType=VARCHAR},
      displayname = #{displayname,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR},
      chuangjianshijian = #{chuangjianshijian,jdbcType=TIMESTAMP},
      zhuangtai = #{zhuangtai,jdbcType=INTEGER},
      chuangjianrenid = #{chuangjianrenid,jdbcType=VARCHAR},
      parentroleid = #{parentroleid,jdbcType=VARCHAR}
    where roleid = #{roleid,jdbcType=VARCHAR}
  </update>
</mapper>