<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="../../css/phone/homepage.css?ver=1.6" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="../../css/weui.css"/>
<title>东总儿肾中心智慧诊疗</title>
</head>
<body>
	
	<div class="container">
		<div class="top1">
			<a  href="../../homepage/index_patient.html"  ><img style="margin-left: 0px;" width="150" height="60" src="../../image/fh.jpg" alt="" ></a>

			<span style="margin-left:70px">东总儿肾中心智慧诊疗</span>
		</div>
		
		<div class="page" style="margin-top: 200px;">
			<div style="background-color: #f3f3f3;height: 80px;line-height: 80px;font-size: 36px;font-weight: 600;">
		 		&emsp;实用小工具
		 	</div>
		 	
			<div class="weui-grids" style="margin-top: 30px;">
			      <a href="../../homepage/zhzl_yingyangguanli.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">营养管理</p>
			      </a>
			      
			      <a href="../../homepage/zhzl_tbmj.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">体表面积</p>
			      </a>
			      <a href="../../homepage/zhzl_njg.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 27%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">尿钙/尿肌酐</p>
			      </a>
			      <a href="../../homepage/zhzl_eGFR.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">eGFR</p>
			      </a>
			      <a href="../../homepage/zhzl_gns.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 25%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">高尿酸血症</p>
			      </a>
			      <a href="../../homepage/zhzl_sle.html" class="weui-grid" style="border: 2px #aaa solid;padding: 30px 15px;margin: 30px;width: 27%;">
			          <div class="weui-grid__icon" style="width: 120px;height: 120px;">
			              <img src="../../image/yingyangguanli.png" alt="">
			          </div>
			          <p class="weui-grid__label" style="font-size: 40px;margin-top: 20px;">SLE-DAS</p>
			      </a>
			      
			</div>		
		</div>
		<div class="weui-grids" style="width:95%;height:1000px;margin:50px auto;">
			<div style="width:100%;height:500px;">

				<a id="a_guahao" href="../../homepage/jiuzhenxinxi_list.html"  >
					<div class="index_menu1" style="background-color:#4d98ea;float:left;">
						<div class="index_menu1_pic">
							<img src="../../image/menu-guahao.png" width=100% height=100%/>
						</div>
						<div class="index_menu1_title">预约挂号</div>
						<div class="index_menu1_summary">预约出诊号</div>
					</div>
				</a>

				<a id="a_zhuyuan" href="../../homepage/yuyuezhuyuan.html"  >
					<div class="index_menu1" style="background-color:#f5a14c;float:right;">
						<div class="index_menu1_pic">
							<img src="../../image/menu-zhuyuan.png" width=100% height=100%/>
						</div>
						<div class="index_menu1_title">预约住院</div>
						<div class="index_menu1_summary">预约住院号</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</body>
</html>